/* Write your CSS here */
.header {
  background-color: #e2e8f0;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}
.head {
  color: #64748b;
  font-weight: 700;
  font-size: 35px;
  font-family: 'Roboto';
}
