/* Write your CSS here */
.controller {
  background-color: #475569;
  padding: 10px;
  padding-left: 80px;
  width: 100%;
}
.checkbox-container {
  display: flex;
}
.p {
  margin-left: 10px;
  font-size: 18px;
  font-family: 'Roboto';
  color: #fff;
}
.h1 {
  color: #fff;
  font-size: 34px;
  font-weight: 700;
}
